@import 'reset';
a{
    color:black;
    text-decoration: none;
}

li{
    list-style: none;
}
#header{
    width: 100%;
    // height: 60px;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    // background: pink;
    align-items: center;
    .left{
        margin-left: 10px;
    }
   .right li{
       width: 60px;
       height: 60px;
    //    background: pink;
       margin: 0 2px;
       text-align: center;
       line-height: 60px;
       &:hover{
        border-bottom: 2px solid #eb0028;
        text-decoration: none;
    }
       i{
           font-size: 24px;
           color: black;
       }
       #contentbox{
        width: 200px;
        height: 70px;
        border: 1px solid #dad7d7;
        z-index: 3;
        position: absolute;
        background: #fff;
        top: 60px;
        right: 0;
        text-align: center;
        line-height: 70px;
     //    display: none;
        div{ 
             display: inline-block;
             width: 60px;
             height: 40px;
             text-align: center;
             line-height: 40px;
             font-size: 14px;
             background: rgb(155, 151, 151);
             margin: 10px 10px;
             a{
                 color:#fff;
             }
             &:hover{
                 background: #e43644;
             }
        }
    }
       span{
        display: inline-block;
        background: red;
        color: #fff;
        width: 20px;
        height: 20px;
        font-size: 10px;
        position: absolute;
        border-radius: 50%;
        line-height: 20px;
        text-align: center;
        top: 25px;
        right: 15px;
    }
   }
    ul .page>a{
    font-size: 16px;
    color: black;
    vertical-align: top;
    line-height: 60px;
    display: inline-block;
    border-bottom: 2px solid transparent;
    height: 58px;
    padding: 0 12px;
    cursor: pointer;
    &:hover{
        border-bottom: 2px solid #eb0028;
        text-decoration: none;
    }
    .series-new{
        display:inline-block;
        font-size: 12px;
        border:1px solid #000;
        line-height:1;
        padding:1px 2px;
        border-radius:5px;
    }
    }
    ul li{
        float: left;
        .container-text {  
            display: flex;
            background: #fff;
            justify-content: center;
            position: absolute;
            left: 0;
            top: 60px;
            width: 100%;
            z-index: 3;
            .show-window{
                width: 130px;
                margin: 0 5px;
                // background: pink;
                a{  
                    color: black;
                    height: 160px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    text-decoration: none;
                    .series-item-new{
                        margin-left: 80px;
                        display:inline-block;
                        font-size: 12px;
                        border:1px solid #000;
                        line-height:1;
                        padding:1px 2px;
                        border-radius:5px;
                    }
                    .iconfont{
                        margin: 24px 0;
                        font-size: 30px;
                    }
                    &:hover{
                        color:red;
                        .series-item-new{
                            border-color: red;
                        }
                    }
                }
            }
        }
        // .active{
        //     display: flex;

        // }
    }
    
}

#page-footer{
    footer{
        width: 100%;
        height: 591px;
        .btlist{
            width: 1200px;
            margin: auto;
            .footer-nav{
                height: 334px;
                padding-top: 30px;
                padding-right: 15px;
                dl{
                    width: 20%;
                    float: left;
                    text-align: left;
                    margin-bottom: 0px;
                    dt{
                        height: 50px;
                        line-height: 50px;
                        padding: 0 20px;
                        font-size: 18px;
                        font-weight: 400px;
                    }
                    dd{
                        height: auto;
                        padding: 0 20px;
                        font-size: 16px;
                        line-height: 1.7;
                        ul{
                            li{
                                padding: 8px 0;
                                a{
                                    color: rgba(0,0,0,0.5);
                                    &:hover{
                                        color:rgb(0,0,0);
                                    }
                                }
                                
                            }
                        }
                    }
                }
            }
        }
        .db{
            margin-top: 20px;
            width: 100%;
            height: 256px;
            // background: yellow;
            .dbt{
                .top{
                    margin: auto;
                    width: 1200px;
                    height: 80px;
                    padding: 20px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    a{
                        color:#09c;
                    }
                    .left{
                        font-size: 16px;
                    }
                    .right{
                        display: flex;
                        align-items: center;
                        position: relative;
                        i{
                            font-size: 30px;
                            margin: 0 5px;
                        }
                        span{
                            font-size: 17px;
                            margin-right: 5px;
                        }
                        .time{
                            margin: 0 15px;
                            padding-top: 5px;
                            // font-size: 18px;
                        }
                        .social-media{
                            padding: 0 8px;
                            margin-top: 10px;
                            margin: 0 10px;
                            
                            img{
                                position: absolute;
                                right: 40px;
                                bottom: 45px;
                                width: 100px;
                                height: 100px;
                            }
                            i{
                                color: rgba(0,0,0,0.5);
                                &:hover{
                                    color: rgba(0,0,0,1);
                                }
                            }
                        }
                    }
                }
                .bottom{
                    width: 100%;
                    height: 176px;
                    border-top: 1px solid rgba(0,0,0,0.2);
                    background-color: #f9f9f9;
                    .container{
                        width: 1220px;
                        height: 64px;
                        margin: auto;
                        .self-help{
                            padding: 0 20px ;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            div{
                                height: 100%;
                               margin: 18px 0;
                               &:first-of-type{
                                   font-size: 18px;
                               }
                            }
                            ul{
                                width: 600px;
                                display: flex;
                                justify-content: space-around;
                            }
                        }
                        .footer-record{
                            padding: 10px 20px 0;
                        }
                        .copy-right{
                            height: 80px;
                            
                            display: flex;
                            justify-content: space-between;
                            padding: 20px;
                            align-items: center;
                            p{
                               margin-top: 15px;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
    a{
        text-decoration: none;
        color:black;
        &:hover{
            text-decoration: none;
        }
    }
}