@import 'common';
#main{
    width: 100%;
    background: #efefef;
    // margin: 20px 0;
    overflow: hidden;
    #main-content{
        margin: 30px auto;
        width: 1200px;
        // margin: auto;
        #content-title{
            width: 97.5%;
            height: 70px;
            background: #fff;
            font-size: 20px;
            color:black;
            display: flex;
            padding-left: 30px;
            line-height: 70px;
            border-bottom: 1px solid #dfdfdf;

        }
        #content-main{
            width: 100%;
            background: #fff;
            ul{
                width: 100%;
                background: #fff;
                display: flex;
                flex-direction: column;

                li{
                    width: 1140px;
                    height: 114px;
                    // background: skyblue;
                    border-bottom: 1px solid #dfdfdf;
                    padding: 0 20px;
                    margin: 30px;
                    position: relative;
                    // display: flex;
                    // justify-content: space-between;
                    // align-items: center;
                    input,a,div{
                        float: left;
                        margin: auto 20px;
                    }
                    .check{
                        width: 20px;
                        height: 20px;
                        margin-top: 30px;
                    }
                    .imgs{
                        display: inline-block;
                        width: 100px;
                        height: 100px;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .goodsname{
                        margin-left: 5px;
                        width: 330px;
                        height: 44px;
                        font-size: 16px;
                        font-weight: bold;
                        line-height: 44px;
                        margin-top: 20px;
                    }
                    .price{
                        width: 180px;
                        height: 44px;
                        line-height: 44px;
                        margin-top: 20px;
                        margin-left: 0px;
                    }
                    .numctl{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 90px;
                        margin-top: 30px;

                        margin-left: -5px;
                        height: 26px;
                        border:1px solid #dfdfdf;
                        button{
                            border:none;
                            
                            height: 100%;
                        }
                        span{
                            color: #828282;
                            width: 30px; 
                            display: inline-block;
                            font-size: 20px;
                            
                        }
                    }
                    .sumPrice{
                        color: #828282;
                        margin-top: 35px;
                    }
                    .remove{
                        color: #828282;
                        width: 30px;
                        height: 30px;
                        line-height: 30px; 
                        text-align: center;
                        font-size: 20px;
                        margin-top: 20px;
                        position: absolute;
                        right: 20px;
                        cursor: pointer;
                    }
                }
            }
        }
        #content-result{
            width: 100%;
            // height: 80px;
            background: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .sc_left{
                margin-left: 68px;
                font-size: 18px;
                margin-bottom: 110px;
                input{
                    width: 20px;
                    height: 20px;
                    margin-right: 30px;
                    
                }
            }
            .sc_right{
                margin-right:40px;
                margin-bottom: 20px;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                span{
                    display: inline-block;
                    font-size: 30px;
                    margin-bottom: 30px;
                    &:first-of-type{
                        font-size: 20px;
                        margin-right: 125px;
                    }
                }
                button{
                    width: 150px;
                    height: 54px;
                    border-radius: 3px;
                    line-height: 54px;
                    background-color: #eb0028;
                    color:#fff;
                    border: none;
                    font-size: 18px;
                    &:first-of-type{
                        background-color: #fff;
                        color: black;
                        border: 1px solid black;
                    }
                }
            }
        }
    }
    #serverBox{
       background: #fff;
        width: 100%;
        height: 172px;
        display: flex;
        justify-content: space-around;
        section{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            text-align: center;
            a:hover{
                text-decoration: none;
            }
            p{
                font-family: MYingHei W5,Roman-55,Microsoft Yahei,sans-serif;
                color:black;
                margin-top: 10px;
            }
        }
    }
}