@import "common";
#main{
    width: 100%;
    height: 700px;
    background: #f9f9f9;
    display: flex;
    padding: 0 75px;
    justify-content: space-between;
    .goodsImg{
        width: 600px;
        height: 600px;
        .slideBox{
            width: 480px;
            height: 480px;
            border: 1px solid black;
            margin: 10px auto;
            text-align: center;
            line-height: 480px;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .goodsMsg{
        padding-top: 40px;
        width: 600px;
        h2{
            display: inline-block;
            width: 100%;
            height: 40px;
        }
        .model{
            width: 100%;
            p{  
                font-size: 20px;
                padding: 30px 0 8px;
                font-weight: bold;
            }
            li{
                height: 50px;
                line-height: 50px;
                padding-left: 20px;
                font-size: 18px;
                background: #fff;
                border: 1px solid grey;
                margin: 5px 0;
                &:hover{
                    background:#09c;
                }
            }
        }
        .price{
            height: 40px;
            font-size: 25px;
            line-height: 40px;
        }
        .sc_btn{
            width: 130px;
            margin: 10px auto;
            text-align: center;
            border-radius: 2px;
            height: 50px;
            line-height: 50px;
            background: #fc1934;
            color: #fff;
            font-weight: bold;
            font-size: 18px;
            cursor:pointer;
        }
        .servers,.road{
            width: 100%;
            height: 78px;
            border-bottom: 1px solid grey;
            margin-top: 20px;
            .title{
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 12px;
            }
        }
    }
}