@import 'reset';
a{
    color:black;
    text-decoration: none;
    
}

li{
    list-style: none;
}
#header{
    width: 100%;
    // height: 60px;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    // background: pink;
    align-items: center;
    .left{
        margin-left: 10px;
    }
   .right li{
       width: 60px;
       height: 60px;
    //    background: pink;
       margin: 0 2px;
       text-align: center;
       line-height: 60px;
       i{
           font-size: 24px;
           color: black;
       }
   }
    ul .page>a{
    font-size: 16px;
    color: black;
    vertical-align: top;
    line-height: 60px;
    display: inline-block;
    border-bottom: 2px solid transparent;
    height: 58px;
    padding: 0 12px;
    cursor: pointer;
        &:hover{
            border-bottom: 2px solid #eb0028;
            text-decoration: none;
        }
        .series-new{
            display:inline-block;
            font-size: 12px;
            border:1px solid #000;
            line-height:1;
            padding:1px 2px;
            border-radius:5px;
        }
    }
    ul li{
        float: left;
        a{
            text-decoration: none;
        }
        .container-text {  
            display: flex;
            background: #fff;
            justify-content: center;
            position: absolute;
            left: 0;
            top: 60px;
            width: 100%;
            z-index: 3;
            .show-window{
                width: 130px;
                margin: 0 5px;
                // background: pink;
                a{  
                    color: black;
                    height: 160px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    .series-item-new{
                        margin-left: 80px;
                        display:inline-block;
                        font-size: 12px;
                        border:1px solid #000;
                        line-height:1;
                        padding:1px 2px;
                        border-radius:5px;
                    }
                    .iconfont{
                        margin: 24px 0;
                        font-size: 30px;
                    }
                    &:hover{
                        color:red;
                        .series-item-new{
                            border-color: red;
                        }
                    }
                }
            }
        }
    }
    
}
#banner{
    width: 1349px;
    height: 375px;
    overflow: hidden;   
    position: relative;
    .imgBox{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        li{ 
            height: 100%;
            a{
                width: 1349px;
                height: 100%;
                float: left;
                img{
                    width: 100%;
                    height: 100%;
                    vertical-align: middle;
                }
            } 
        } 
    }
    .leftRightTabs{
        width: 100%;
        height: 40px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        button{
            width: 60px;
            height: 60px;
            border:none;
            border-radius: 50%;
            font-size: 40px;
            line-height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(0,0,0,0.2);
            color: #fff;
            outline: none;
            &:first-of-type{
                margin-right: 1100px;
            }
        }
    }
    
}
#main{
    width: 100%;
    // height: 800px;
    // background: pink;
    position: relative;
    display: flex;
    flex-direction: column;
    #menuBox{
        width: 100%;
        height: 60px;
        background: #fff;
        // background: #ddd;
        z-index: 3;
        position: sticky;
        top: 0;
        border-bottom: 1px solid black;
        select{
            position: absolute;
            top: 10px;
            width: 180px;
            // display: flex;
            height: 40px;
            color:rgb(31, 31, 32);
            font-weight: bold;
            font-size: 16px;
            // padding-right: 20px;
            border: none;
            outline: none;
            // margin-right: 20px;
            padding: 6px 0px 6px 10px ;
        }
        .s1{
            position: absolute;
            padding-right: 30px;
            left: 600px;
        }
        .s2{
            position: absolute;
            padding-right: 30px;
            left: 820px;
        }
        .s3{
            position: absolute;
            padding-right: 30px;
            left: 1040px;
        }
    }
    #goodsBox{
        width: 100%;
        position: relative;
        .goodsList{
            padding: 10px;
            float: left;
            width: 449px;
            height: 560px;
            background: rgba(247, 242, 242, 0.589);
            border: 1px solid rgba(247, 242, 242,1);
            &:hover{
                background: transparent;
            }
            .list{  
                text-decoration: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                
                color: black;
                position: relative;
                .products-tag{
                    text-align: right;
                    position: absolute;
                    font-size: 16px;
                    background: red;
                    color:#fff;
                    top: 0;
                    right: 10px;
                }
                .card-image{
                    width: 360px;
                    height: 360px;
                    margin-top: -16px;
                    border: 1px solid #fff;
                    margin-bottom: 10px;
                    img{
                        width: 100%;
                    }
                }
                .accessory-name{
                    margin-top: 25px;
                    margin-bottom:20px;
                    font-size: 20px;
                    color:black;
                }
            }
        }
    }
    #serverBox{
        width: 100%;
        height: 172px;
        display: flex;
        justify-content: space-around;
        section{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            text-align: center;
            a:hover{
                text-decoration: none;
            }
            p{
                font-family: MYingHei W5,Roman-55,Microsoft Yahei,sans-serif;
                color:black;
                margin-top: 10px;
            }
        }
    }
}
#middle{
    border-bottom: 1px solid rgba(247, 242, 242, 1);
    font-family: MYingHei W5,Roman-55,Microsoft Yahei,sans-serif;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    .nav-bread{
        display: flex;
        // background:pink;
        width: 1200px;
        height: 50px;
        padding: 0 15px;
        font-size: 16px;
        line-height: 50px;
        .home{
            width: 32px;
            display: inline-block;
            // padding: 13px 0;
        }
        .bread-ol{
            width: 71px;
            font-size: 16px;
            display: inline-block;
            margin: 0 12px;
        }
    }
    a{
        text-decoration: none;
        color:black;
        &:hover{
            text-decoration: none;
        }
    }
}
#page-footer{
    footer{
        width: 100%;
        height: 591px;
        .btlist{
            width: 1200px;
            margin: auto;
            .footer-nav{
                height: 334px;
                padding-top: 30px;
                padding-right: 15px;
                dl{
                    width: 20%;
                    float: left;
                    text-align: left;
                    margin-bottom: 0px;
                    dt{
                        height: 50px;
                        line-height: 50px;
                        padding: 0 20px;
                        font-size: 18px;
                        font-weight: 400px;
                    }
                    dd{
                        height: auto;
                        padding: 0 20px;
                        font-size: 16px;
                        line-height: 1.7;
                        ul{
                            li{
                                padding: 8px 0;
                                a{
                                    color: rgba(0,0,0,0.5);
                                    &:hover{
                                        color:rgb(0,0,0);
                                    }
                                }
                                
                            }
                        }
                    }
                }
            }
        }
        .db{
            margin-top: 20px;
            width: 100%;
            height: 256px;
            // background: yellow;
            .dbt{
                .top{
                    margin: auto;
                    width: 1200px;
                    height: 80px;
                    padding: 20px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    a{
                        color:#09c;
                    }
                    .left{
                        font-size: 16px;
                    }
                    .right{
                        display: flex;
                        align-items: center;
                        position: relative;
                        i{
                            font-size: 30px;
                            margin: 0 5px;
                        }
                        span{
                            font-size: 17px;
                            margin-right: 5px;
                        }
                        .time{
                            margin: 0 15px;
                            padding-top: 5px;
                            // font-size: 18px;
                        }
                        .social-media{
                            padding: 0 8px;
                            margin-top: 10px;
                            margin: 0 10px;
                            
                            img{
                                position: absolute;
                                right: 40px;
                                bottom: 45px;
                                width: 100px;
                                height: 100px;
                            }
                            i{
                                color: rgba(0,0,0,0.5);
                                &:hover{
                                    color: rgba(0,0,0,1);
                                }
                            }
                        }
                    }
                }
                .bottom{
                    width: 100%;
                    height: 176px;
                    border-top: 1px solid rgba(0,0,0,0.2);
                    background-color: #f9f9f9;
                    .container{
                        width: 1220px;
                        height: 64px;
                        margin: auto;
                        .self-help{
                            padding: 0 20px ;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            div{
                                height: 100%;
                               margin: 18px 0;
                               &:first-of-type{
                                   font-size: 18px;
                               }
                            }
                            ul{
                                width: 600px;
                                display: flex;
                                justify-content: space-around;
                            }
                        }
                        .footer-record{
                            padding: 10px 20px 0;
                        }
                        .copy-right{
                            height: 80px;
                            
                            display: flex;
                            justify-content: space-between;
                            padding: 20px;
                            align-items: center;
                            p{
                               margin-top: 15px;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
    a{
        text-decoration: none;
        color:black;
        &:hover{
            text-decoration: none;
        }
    }
}
#ewm{
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 20px;
    right: 80px;
    cursor: pointer;
    img{
        width: 100%;
        height: 100%;
    }
}
// #autoBox{
//     width: 600px;
//     height: 516px;
//     border:1px solid #fff;
//     background: pink;
//     .head{
//         width: 100%;
//         height: 180px;
//         background-image: url(images/bg-pc.jpg) no-repeat;
//     }
// }
