@import 'reset';
@import 'common';
a{
    color:black;
    text-decoration: none;
    
}
li{
    list-style: none;
}
#banner{
    width: 100%;
    height: 300px;
    position: relative;
    img{
        vertical-align: middle;
        height: 100%;
        width: 100%;
        clear: both;
    }
    .box{
        position: absolute;
        top: 60px;
        left: 280px;
        color: #fff;
        p{
            width: 330px;
            height: 40px;
            line-height: 40px;
            margin: 0;
            
            &:first-child{
                font-size: 20px;
                margin-bottom: 30px;
            }
            &:nth-child(n+2){
                font-size: 16px;
                margin-bottom: 5px;
            }
        }
        a{
            display: inline-block;
            color:#fff;
            font-size: 16px;
        }
    }
}
#main{
    width: 100%;
    #content{
        width: 100%;
        height: 680px;
        background: skyblue;
        margin-top: 10px;
        position: relative;
        cursor: pointer;
        img{
            width: 100%;
            height: 100%;
        }
        .box{
            width: 378px;
            height: 245px;
            position: absolute;
            .title{
                font-size: 34px;
            }
            .msg{
                font-size: 18px;
                margin: 20px 0;
            }
            .price{
                font-size: 18px;
            }
            button{
                width: 100px;
                height: 40px;
                border: 2px solid #000;
                color: #000;
                font-size: 16px;
                margin-bottom: 10px;
            }
            a{  
                display: block;
                text-decoration: none;
                color:#000;
                font-size: 16px;
            }
            
        }
        &:first-of-type{
            .box{
                top: 200px;
                left: 280px;
                
            }
        }
        &:nth-child(2){
            .box{
                display: flex;
                flex-direction: column;
                align-items: center;
                top: 220px;
                left: 530px;
                
            }
        }
    }
    #middle{
        width: 100%;
        height: 1060px;
        margin-top: 10px;
        ul{
            width: 100%;
            li{
                width: 645px;
                height: 500px;
                float: left;
                margin: 14px;
                overflow: hidden;
                background-size: cover;
                .box{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 20px;
                    .title{
                        font-size: 24px;
                        text-align: center;
                    }
                    .msg{
                        font-size: 18px;
                    }
                    a{
                        font-size: 16px;
                        color: black;
                        text-decoration: none;
                    }
                }
                .list{
                    text-decoration: none;
                    color: black;
                    &:nth-child(3){
                        color: #fff;
                    }
                }
            }
        }
    }
    #footer{
        width: 100%;
        height: 480px;
        margin-top: 10px;
        overflow: hidden;
        #contain{
            width: 920px;
            height: 360px;
            margin:60px auto;
            .imsg{
                display: inline-block;
                width: 293px;
                height: 100%;
                margin: 0 5px;
                .img{
                    width: 100%;
                    height: 230px;
                    background-size: cover;
                }
                .title{
                    height: 24px;
                    color: #666;
                    font-size: 18px;
                    line-height: 24px;
                    margin-top: 10px;
                    padding-left: 15px;
                }
                .msg{
                    font-size: 18px;
                    color: black;
                    padding: 0 15px;
                }
                a{
                    display: block;
                    color: #0099cc;
                    padding-left: 15px;
                    font-size: 16px;
                }
            }
        }
    }
}