@import "common";
#main{
    width: 100%;
    background: #f9f9f9;
    // height: 500px;
    #login{
        width: 350px;
        margin: 0 auto;
        display: flex;
        // justify-content: center;
        align-items: center;

        flex-direction: column;
        #top{
            width: 310px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            font-size: 26px;
            margin: 40px 0 20px;
        }
        #bottom{
            width: 310px;
            margin-bottom: 50px;
            input{
                width: 300px;
                height: 40px;
                margin: 10px 0;
                outline: none;
                padding-left: 10px;
                font-size: 18px;
            }
            #alert{
                margin: 0px;
                padding: 5px;
                text-align: center;
                display: none;
                margin-bottom: 5px;
            }
            button{
                width: 310px;
                height: 40px;
                margin-top: 20px;
                background-color: #eb0028;
                color:#fff;
                font-size: 16px;
                outline: none;
            }
            a{
                display: block;
                text-align: center;
                margin-top: 20px;
                color:blue;
            }
        }
        
    }
}